// VARIABLES

// 1. COLORS
$color-main-background: #f2f3f8;
$color-primary: #242938;
$color-secondary: #34709e;
$color-complementary: #d64e42;
$color-clickable-primary: #1cb890;

$color-light:#f2f3f8;

$color-clickable-secondary: #9a74ce;



$color-html: rgb(251,90,61);
$color-css:rgb(0,114,181);
$color-js: rgb(250,222,67);



// 2. MARGINS
$margin-small: 1rem;
$margin-medium: 2rem;
$margin-large: 3rem; 

// 3. PADDINGS
$padding-small: 0.5rem;
$padding-medium: 2rem;
$padding-large: 3rem;

// 4. FONT-SIZES
$size-title: 3rem;
$size-title-decor: 2rem;
$size-description: 1.5rem;
$size-aside-text: 0.7rem;

// 5. WIDTHS
$section-width-desktop: 80rem;