@import 'global/variables';
@import './layout/navbar';
@import './layout/header';


/* GENERAL STYLES START */

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	overflow-X: hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f2f3f8;
	margin: 0;
	padding: 0;
}

h1, h2, p, ul, li, ol {
	margin: 0;
	padding: 0;
}
/* GENERAL STYLES END */






/* ABOUT START */
.about {
	padding: 5rem 5rem 0 5rem;
	background-color: #fff;
	color: #242938;
	text-align: center;

}


.about__title {
	font-size: 3rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.about__title--decor {
	font-size: 2rem;
}
/* ABOUT END*/