@import 'global/variables';
@import './layout/navbar';
@import './layout/header';
@import './layout/section';


/* GENERAL STYLES START */

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	overflow-X: hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #f2f3f8;
	margin: 0;
	padding: 0;
}

h1, h2, p, ul, li, ol {
	margin: 0;
	padding: 0;
}
/* GENERAL STYLES END */





