@import '../global/variables';

/* ABOUT START */
.about {
    @extend %section;
	background-color: $color-complementary;
    color: $color-light;

    &__description{
        text-align: left;
        font-size: $size-description;
        line-height: 1.5;
        margin: $margin-small;
        color: $color-light;
    }
}
/* ABOUT END*/