@import '../global/variables';

/* ABOUT START */
.about {
    z-index: 1;
    @extend %section;
	background-color: $color-complementary;
    color: $color-light;

    @include screen-type(phone-medium-landscape){
        margin: 0 auto;
    }

    &__description{
        text-align: left;
        font-size: $size-description;
        line-height: 1.5;
        margin: $margin-small;
        color: $color-light;
        

        @include screen-type(desktop){
            max-width: 70%;
            margin: $margin-small auto;
        }
        
    }



}
/* ABOUT END*/