@import '../global/variables';

/* ABOUT START */
.about {
    z-index: 1;
    @extend %section;
	background-color: $color-complementary;
    color: $color-light;

    @media(min-width: 30rem) and (min-height: 30rem){
        transform: translateY(-25vh);
    }

    &__description{
        text-align: left;
        font-size: $size-description;
        line-height: 1.5;
        margin: $margin-small;
        color: $color-light;
    }



}
/* ABOUT END*/