@import '../elements/buttons';

/* PROJECTS START*/
.contact {
    @extend %section;
    padding: 5rem 0;
    background-color: #34709e;
    color: #fff;
    margin-top: 40vh;

    &-form{
        margin: 0 2rem;
        width: 80vw;

        &__input {
            border: none;
            width: 100%;
            padding: 1rem;
            margin: 0.5rem;
            border-right: 3px solid #242938;
            border-bottom: 3px solid #242938;
            font-size: 1.5rem;

            &::placeholder{
                color: #242938;
                font-weight: bold;
            }

            &:focus {
                color: #fff;
                background-color: #242938;
            }
        }

        .btn {
            border: none;
            @include button-theme(#1cb890, #179172, #15775e);
        }
    }
}
/* PROJECTS END*/