@import '../elements/buttons';
@import '../global/variables';

/* PROJECTS START*/
.contact {
    @extend %section;
    padding: 5rem 0;
    background-color: $color-secondary;
    color: $color-light;

    &-form{
        margin: 0 $margin-medium;


        @media(min-width: 30rem) and (min-height: 30rem){
            max-width: 60rem;
        }

        &__input {
            display: block;
            margin: $margin-small auto;
            border: none;
            width: 100%;
            padding: 1rem;
            border-right: 3px solid $color-primary;
            border-bottom: 3px solid $color-primary;
            font-size: 1.5rem;

            // @media(min-width: 30rem) and (min-height: 30rem){
            //     width: 100%
            // }



            &::placeholder{
                color: $color-primary;
                font-weight: bold;
            }

            &:focus {
                color: $color-light;
                background-color: $color-primary
            }
        }

        .btn {
            border: none;
            @include button-theme($color-clickable-primary);
        }
    }
}
/* PROJECTS END*/