@import '../elements/buttons';

/* MAIN-HEADER START */
.main-header {
	padding-top: 25vh;
	background-color: $color-primary;
	color: white;
    text-align: center;
    
    &__title {
        font-size: $size-title;
        font-weight: normal;

        &--decor {
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    &__ribbon {
        position: relative;
        background-color: $color-secondary;
        font-weight: normal;
        font-size: $size-description;
        max-width: 95%;
        width: 30rem;
        height: 3rem;
        margin: $margin-medium auto;
        vertical-align: middle;
        line-height: 3rem;

        &::after{
            right: -1px;
            top:0;
            position: absolute;
            content: '';
            border-style: solid;
            border-width: 1.5rem 1.5rem 1.5rem 0;
            border-color: transparent $color-primary transparent transparent;
        }

        &::before{
            left: -1px;
            top:0;
            position: absolute;
            content: '';
            border-style: solid;
            border-width: 1.5rem 0 1.5rem 1.5rem;
            border-color: transparent transparent transparent $color-primary ;
        }
    }

    .btn {
        @include button-theme($color-clickable-primary);
    }


    &__image {
        transform: translateY(4rem)
    }
}

/* MAIN-HEADER END */
