@import '../global/variables';

// Variables
	// colors
	$color-main: $color-primary;
	$color-accent: $color-clickable-primary;


// RELATED TO SCROLL
html {
	scroll-behavior: smooth;
}

/* NAVIGATION START */
body {
	overflow-x: hidden;
}

.nav-top{
	z-index: 2;
	position: fixed;
	top: 0;
	width: 100vw;
	background-color: $color-main;

	.wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: $padding-small $padding-medium;
		.nav-top__logo{
			color: #fff;
			font-size: 2.2rem;
			@include screen-type(phone-medium){
				margin-left: $margin-small;
			}
			
		}
	
		@include screen-type(phone-medium){
			flex-wrap: nowrap;
			padding: $padding-small;
		}
	
		@include screen-type(desktop){
			max-width: $section-width-desktop;
			margin:  0 auto;
		}
	}


}

 .menu {
	display: flex;
	border-left: 5px solid $color-accent;
	border-bottom: 5px solid $color-accent;
	overflow: hidden;
	transform: translateX(90vw);
	top: 3rem;
	right: 0;
	position: absolute;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: $padding-medium;
	height: 80vh;
	width: 80vw;
	justify-content: space-around;
	align-items: center;
	transition: transform 1s ease-in;
	background-color: $color-main;

	@include screen-type(phone-medium){
		height: 90vh;
		flex-wrap: wrap;
	}

	@include screen-type(phone-medium-landscape){
		padding: $padding-small;
		flex-wrap: nowrap;
		justify-content: flex-end;
		margin-left: $margin-medium;
		transform: translateX(0);
		top:0 ;
		position: relative;
		flex-direction: row;
		height: 100%;
		width: 100%;
		border-left: none;
		border-bottom: none;
	}
	

	&__item{
		position: relative;
		max-width: 15rem;
		font-size: $size-description;
		opacity: 0;
		background-color: $color-main;
		
		text-align: center;
		list-style: none;
		display: block;
		color:#fff;
		transition: transform 0.3s ease-in;

		@include screen-type(phone-medium-landscape){
			opacity: 1;
		}

		&:before{
			
			border-radius: 3px;
			position: absolute;
			content: '';
			background-color: $color-accent;
			background: linear-gradient(to left, $color-accent, darken($color-accent, 30%));
			border: none;
			bottom: -4px;
			left: 30%;
			height: 5px;
			width: 0%;
		}

		&:hover::before,
		&:active::before{
			animation: button-load-bottom 0.5s forwards 0s;
		}

		.link {
			text-decoration: none;
			color: inherit;
			font-weight: bold;
			display: block;
			font-size: $size-description * 1.5;
			min-width: 8rem;
			padding: $padding-small;

			@include screen-type(phone-medium){
				opacity: 1;
			}

			@include screen-type(phone-medium-landscape){
				padding: $padding-small;
				font-size: $size-description * 0.7;
			}
		}
		
	}

}

.menu-mobile__burger {
	display: block;
	// position: absolute;
	// right: $margin-medium;

	&:hover {
		cursor: pointer;
	}

	.burger__line {
		position: relative;
		height: 5px;
		width: 2rem;
		transition: transform 1s;
		background-color: $color-accent;
		margin-top: 5px;
		border-radius: 3px;

		&:first-of-type:after {
			position: absolute;
			top: -10px;
			content: '';
			height: 0.5rem;
			width: 2rem;
			background-color: $color-accent;
			border-top-right-radius: 50px;
			border-top-left-radius: 50px;
		}
		
	}

	&--toggled{
		.burger__line:first-of-type {
			transform: rotateZ(30deg);
			transition: transform 1s;
		}

		.burger__line:nth-of-type(3){
			transform: rotateZ(-30deg);
			transition: transform 1s;
		}
	}

	@include screen-type(phone-medium-landscape){
		display: none;
	}
}


	/* JavaScript function added classes */
	.toggle-mobile-nav{
		transform: translateX(0vw);
		transition: transform 1s ease-in;
	}

	
	@keyframes button-load-bottom {
		0%{
			width: 0%;
		}
	
		100% {
			width: 40%;
			
		}	
	} 

	@keyframes linkFading {
		from{
			opacity: 0;
			transform:translateX(100px);
		}
	
		to {
			opacity: 1;
			transform: translateX(0px);
		}
	}

/* NAVIGATION END */