@import './section';
@import '../elements/buttons';





$color-folder-primary: #242938;
$color-folder-secondary: #34709e;

.projects{
    padding-bottom: 40vw;
    
    .title {
        margin-bottom:2.5rem;
        font-size: 3rem;
        text-transform: uppercase;
        margin-top: 4rem;
        text-align: center;

        &--decor {
            font-size: 2rem;
        }
    }

    .projects-wrapper {
        position: relative;
        width: 95vw;
        margin: 0 auto;

        .project {
            padding: 2rem 1rem;
            position: relative;
            width: 100%;
            background-color: $color-folder-primary;
            color: #f2f3f8;
            display: none;
            opacity: 0;
            margin: 1rem auto;  
            border-radius: 3px;


            &__title{
                position: relative;
                font-size: 1.5rem;
                text-align: center;
                background-color: #f2f3f8;
                width: 10rem;
                height: 10rem;
                display: block;
                line-height: 8.5rem;
                color: #242938;
                border-radius: 200px;
                padding: 0.5rem;
                margin: 2rem auto;
                border: 5px solid #34709e;

                &::after {
                    position: absolute;
                    content: '';
                    right: -70px;
                    width: 50px;
                    height: 1px;
                    background-color: #34709e;
                    top: 51%;
                }

                &::before {
                    position: absolute;
                    content: '';
                    left: -70px;
                    width: 50px;
                    height: 1px;
                    background-color: #34709e;
                    top: 51%;
                }
                
            }

            &__description {
                text-align: left;
                font-size: 1.5rem;
                line-height: 1.5;
                color: #f2f3f8;
            }
            .stack-list {
                margin-top: 5rem;
                list-style: none;
                display: flex;
                justify-content: space-around;

                &__item {
                    font-size: 2rem;
                    .fa-html5 {
                        color: rgb(251,90,61);
                        // animation: popup 1s linear 1s forwards;
                    }

                    .fa-css3-alt {
                        color: rgb(0,114,181);
                    }

                    .fa-js{
                        color: rgb(250,222,67);
                    }
                    
                }
            }

            .media {
                margin: 2rem auto;
                text-align: center;
                .btn-git {
                    @include button-theme(#d64e42, #812e26, #a13b31);
                    display: inline-block;


                    .fa-github {
 
                    }
                }

                .btn-heroku {
                    @include button-theme(#9a74ce, #4d3b68, #7b5ba8);
                    display: inline-block;
                }
            }
        }

        .folder {
            margin-top: 5rem;
            width: 95vw;
            height: 40vw;
            top: 0;
            position: absolute;

            .folder-cover{
                cursor: pointer;
                border-radius: 0 0 5px 5px;
                position: relative;
                width: 100%;
                height: 100%;
                background-color: $color-folder-secondary;
                transition: transform 1s, box-shadow 0.5s;
                
            }

            .folder-background {
                z-index: -1;
                border-radius: 0 0 5px 5px;
                top: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $color-folder-primary;

                &::after{
                    position: absolute;
                    content: '';
                    width: 150px;
                    height: 50px;
                    top: -50px;
                    right: 0;
                    border-radius: 5px 5px 0 0;
                    background-color: $color-folder-primary;
                }
            }
        }
    }
}


// Folder animation
@keyframes show-section {
    from{
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes open-folder {

    0% {
        transform:translate(0px,0px) skew(0deg) scale(1, 1);  
    }

    50%{
        transform: translate(-10px, 15px) skew(10deg) scale(1, 0.9);
        transition: transform 1s, box-shadow 0.5s;
        -webkit-box-shadow: 2px -44px 28px -6px rgba(240,231,60,.7);
        -moz-box-shadow: 2px -44px 28px -6px rgba(240,231,60,0.7);
        box-shadow: 2px -44px 28px -6px rgba(240,231,60,0.7);
        transform: translate(-25px, 15px) skew(10deg) scale(1, 0.9);
        transition: transform 1s, box-shadow 0.5s;
    }
    
    100% {
        transform:translate(0px,0px) skew(0deg) scale(1, 1); 
    }
  }


//   icons pop-up animations
@keyframes popup {
    0%{
        transform: scale(1);
    }

    80% {
        transform: scale(2.2) rotate(20deg);
    }

    100%{
        transform: scale(2) rotate(0deg);
    }
}