@import './section';
@import '../elements/buttons';

$color-folder-primary: #242938;
$color-folder-secondary: #34709e;

.projects{
    padding-bottom: 40vw;
    
    .title {
        margin-bottom:2.5rem;
        font-size: 3rem;
        text-transform: uppercase;
        margin-top: 4rem;
        text-align: center;

        &--decor {
            font-size: 2rem;
        }
    }

    .projects-wrapper {
        position: relative;
        width: 95vw;
        margin: 0 auto;

        .project {
            padding: 2rem 1rem;
            position: relative;
            width: 100%;
            background-color: $color-folder-primary;
            color: #f2f3f8;
            // take those items out of document flow
            display: none;
            opacity: 0;
            margin-bottom: 1px;  
            
            &:nth-of-type(odd){
                border-radius: 5px 5px 0 0;
            }

            &:nth-of-type(even){
                border-radius: 0 0 5px 5px;
            }

            &__title{
                font-size: 2rem;
                text-align: center;
            }

            &__description {
                text-align: left;
                font-size: 1.5rem;
                line-height: 1.5;
                color: #f2f3f8;
            }
            .stack-list {
                margin-top: 1rem;
                list-style: none;

                &__item {
                    margin-left: 1rem;

                    &--decor {
                        text-decoration: underline;
                        margin-bottom: 0.5rem;
                    }
                }
            }

            .media {
                margin: 2rem auto;
                text-align: center;
                .btn-git {
                    @include button-theme(#d64e42, #812e26, #a13b31);
                    display: inline-block;
                }

                .btn-heroku {
                    @include button-theme(#9a74ce, #4d3b68, #7b5ba8);
                    display: inline-block;
                }
            }
        }

        .folder {
            margin-top: 5rem;
            width: 95vw;
            height: 40vw;
            top: 0;
            position: absolute;

            .folder-cover{
                cursor: pointer;
                border-radius: 0 0 5px 5px;
                position: relative;
                width: 100%;
                height: 100%;
                background-color: $color-folder-secondary;
                transition: transform 1s, box-shadow 0.5s;

                .btn {
                    @include button-theme(#1cb890, #179172, #15775e);
                    margin-top:0;
                    position: absolute;
                    top: 2rem;
                    left: 2rem;
                }
                
            }

            .folder-background {
                z-index: -1;
                border-radius: 0 0 5px 5px;
                top: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $color-folder-primary;

                &::after{
                    position: absolute;
                    content: '';
                    width: 150px;
                    height: 50px;
                    top: -50px;
                    right: 0;
                    border-radius: 5px 5px 0 0;
                    background-color: $color-folder-primary;
                }
            }
        }
    }
}



@keyframes show-section {
    from{
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes open-folder {

    0% {
        transform:translate(0px,0px) skew(0deg) scale(1, 1);  
    }

    90%{
        transform: translate(-10px, 15px) skew(10deg) scale(1, 0.9);
        transition: transform 1s, box-shadow 0.5s;
        -webkit-box-shadow: 2px -44px 28px -6px rgba(240,231,60,.7);
        -moz-box-shadow: 2px -44px 28px -6px rgba(240,231,60,0.7);
        box-shadow: 2px -44px 28px -6px rgba(240,231,60,0.7);
        transform: translate(-25px, 15px) skew(10deg) scale(1, 0.9);
        transition: transform 1s, box-shadow 0.5s;
    }
    
    100% {
      transform:translate(0px,0px) skew(0deg) scale(1, 1);  
    }
  }