@import '../elements/buttons';

%section {
	padding: $padding-large $padding-small;
    text-align: center;
    padding: $padding-large $padding-small;

    @media(min-width: 30rem) and (min-height: 30rem){
        max-width: 60rem;
        margin: 0 auto;
    }

    .title{
        font-size: $size-title;
        text-transform: uppercase;
        margin-bottom: $margin-medium;

        &--decor {
            font-size: $size-title-decor;
        }
    }
}







