@import '../elements/buttons';

%section {
	padding: $padding-large $padding-small;
    text-align: center;
    padding: $padding-large $padding-small;

    @include screen-type(phone-medium-landscape){
        max-width: $section-width-desktop;
        margin: $margin-large auto;
    }

    .title{
        padding: $padding-large;
        font-size: $size-title;
        text-transform: uppercase;
    }
}







